{% extends "base.html" %}

{% block content %}
<div id="project_info">
	<h2>{{ project.title }}</h2>
		<div id="project_info_img">
			<img src="{{MEDIA_URL}}{{ project.image }}" />
		</div>
	<p>
	{{ project.description }}
	</p>
</div>
{% endblock %}

{% block top_sidebar %}
	<h3>Project Info</h3>
	<p>Updated: {{ project.updated }} </p>
	<p>GitHub: <a href="{{ project.github_link }}">{{ project.title }}</a></p>
	<p>Demo: <a href="{{ project.live_link }}">{{ project.title }}</a></p>

{% endblock %}

{% block bottom_sidebar %}
	<h3>Project Posts</h3>
	{% if posts_list %}	
			{% for post in posts_list %}			
				<a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
				<p>Published: {{ post.created }} </p>			
			{% endfor %}	
	{% else %}
		<p>No projects available</p>
	{% endif %}
{% endblock %}