{% extends "base_sidebar.html" %}

{% block content %}
	{% if project_list %}
	<h2>Project Portfolio</h2>
	<p>Below is a list of my past and current programming projects.  Please 
	click a project to see more detailed information</p>
		<ul>
			{% for project in project_list %}
				<a href="{% url 'project_detail' project.id %}"><img src="{{MEDIA_URL}}{{ project.image }}" /></a><br />
				<a href="{% url 'project_detail' project.id %}">{{ project.title }}</a>
				<p>{{ project.summary }}</p>
			{% endfor %}	
		</ul>
	{% else %}
		<p>No projects available</p>
	{% endif %}
{% endblock %}
		