{% extends "base_sidebar.html" %}

{% block content %}
	{% if project_list %}
	<h2>Portfolio</h2>
	<p>Below is a list of my past and current programming projects.  Please 
	click a project to see more detailed information</p>
			{% for project in project_list %}
			<div id="project_summary">
				<div id="summary_image">
					<a href="{% url 'project_detail' project.id %}"><img src="{{MEDIA_URL}}{{ project.image }}" /></a>
				</div>
				<div id="summary_content">	
					<a href="{% url 'project_detail' project.id %}">{{ project.title }}</a>
					<p>{{ project.summary }}</p>
				</div>
			</div>	
			{% endfor %}	
	{% else %}
		<p>No projects available</p>
	{% endif %}
{% endblock %}
		