{% extends "base.html" %}

{% block top_sidebar %}
	<h3>Recent Posts</h3>
	{% if post_created %}
			{% for post in post_created %}
				<a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
				<p>Published: {{ post.created }} </p>
			{% endfor %}	
	{% else %}
		<p>No posts available</p>
	{% endif %}
{% endblock %}

{% block bottom_sidebar %}
	<h3>Project Updates</h3>
	{% if project_updates %}	
			{% for project in project_updates %}				
				<a href="{% url 'project_detail' project.id %}">{{ project.title }}</a>
				<p>Updated: {{ project.updated }} </p>				
			{% endfor %}	
	{% else %}
		<p>No projects available</p>
	{% endif %}
{% endblock %}