{% autoescape off %}
<!DOCTYPE html>
<html lang="en">
	<head>
	{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'projects/style.css' %}" />
		<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Ubuntu:400,500' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
	</head>
	<div id="wrapper">
	<header>
		<div id="header">
			<div id="header_left">
				<h1>Development Portfolio</h1>
				<p><strong>by John Wnek</strong></p>
				<a href="/">home</a>  |    
				<a href="{% url 'projects' %}">portfolio</a>  |   
				<a href="{% url 'posts' %}">dev log</a> | 
				<a href="http://www.indratech.net/dev/JohnWnekResume.pdf" target="_new">resume</a>
			</div>
			<div id="header_right">
			
				<p>John Wnek</p>
				<a href="mailto:john.wnek@gmail.com">john.wnek@gmail.com</a>
				
			</div>
		</div>
	</header>
	<body>
	<div id="content_wrapper">
		<div id="content">
		{% block content %}{% endblock %}
		</div>
		<div id="sidebar">
			<div id="top_sidebar">
			{% block top_sidebar %}{% endblock %}
			</div>
			<div id="bottom_sidebar">
			{% block bottom_sidebar %}{% endblock %}
			</div>
		</div>
	</div>		
	</body>
	<footer>
	<div id="footer">
		<div id="header_left">
			<a href="/">home</a><br />   
			<a href="{% url 'projects' %}">portfolio</a><br />
			<a href="{% url 'posts' %}">dev log</a>
		</div>
		<div id="footer_right">
			<a href="https://github.com/moskeyombus/" target="_new"><img src="{{MEDIA_URL}}github.png" /></a>
				<a href="http://www.linkedin.com/pub/john-wnek/28/1b8/2b8" target="_new"><img src="{{MEDIA_URL}}linkedin.png" /></a>
		</div>
	</p>
	</footer>
	</div>
</html>
{% endautoescape %}