{% extends "base_sidebar.html" %}

{% block content %}
	<h2>Welcome</h2>
	<p>Hello, my name is John and I am a web developer/server administrator/person who loves technology. 
	This site is a chronicle of my many forays into the world of web development.  This site is a
	Django application (featured in my portfolio) running on a Linode Ubuntu VPS, built from scratch,
	configured and maintained by myself.  Feel free to read my posts, browse my projects, read my resume, 
	and check out my GitHub.</p>
	<p>Thanks for visiting!</p>
{% endblock %}
