@CHARSET "UTF-8";


body, html {
	margin: 0px;
	padding: 0px;
}

html {
	height:auto;
}

header {
	background-color: black;
	padding: 20px;
	width: 100%;
	left: 0;
	position: fixed;
}

.smalltext {
	font-size: 10px;
}

.codetext {
	font-family: 'Inconsolata', sans-serif;
	font-size: 14px;
	padding: 10px;
	background-color: #CCCCCC;
}

#header {
	width: 1024px;
	margin: auto;
}

#header_left {
	float:left;
}

#header_right {
	float: right;
	text-align: right;
}

#header-right p{
	-webkit-margin-after: 0em;
}


header a,header p,header h1, footer p, footer a, footer h1 {
	color: white;	
}

body a {
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: #3C733F;
}

header a, footer a {
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	font-weight: bold;
	font-size: 12px;
	color: white;
}

#content_wrapper a:hover {
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: #713C73;
}

header a:hover, footer a:hover {
	font-family: 'Ubuntu', sans-serif;
	text-decoration: none;
	font-weight: bold;
	color: #888888;
}



body {
	background-image:url('/media/bg.png');
	background-repeat:repeat;
}

#wrapper {
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
	
}

#content_wrapper {
	margin: 0px;
	width: 1024px;
	/* Places body content below header */
	padding: 160px 23px 130px 23px;
	overflow: hidden;
}

#content {
	margin: auto;
	padding: 20px 20px 110px 20px;
	background: #FFFFFF;
	float: left;
	width: 644px;
	box-shadow: 5px 5px #888888;
}

#sidebar {
	width: 300px;
	padding-left: 720px;
}

#top_sidebar {
	background-color: white;
	padding: 10px;
	margin-bottom: 10px;
	box-shadow: 5px 5px #888888;
}

#bottom_sidebar {
	background-color: white;
	padding: 10px;
	box-shadow: 5px 5px #888888;
}


#project_summary {
	width: 550px;
	padding: 20px;
	clear: both;
	border-bottom: 2px dashed #dddddd;
	min-height: 120px;
}

#summary_image {
	width: 100px;
	display: inline;
	float: left;
	clear:both;
	padding-top: 8px;
}

#summary_content {
	width: 400px;
	display: inline;
	float: right;
}

#summary_image img{

	width: 100px;	
}

#project_info_img{
	text-align: center;
	padding-bottom: 20px;
}

#projects-category-title {
	padding-top: 20px;
}

#projects-category-title h3 {
	font-size: 16px;
}

#post_summary{
	padding: 20px 0px 20px 0px;
	border-bottom: 2px dashed #dddddd;
}

footer {
	background-color: black;
	position: fixed;
	bottom: 0px;
	left: 0px;
	padding: 24px 24px 0px 24px;
	margin: 0px;
	width: 100%;
}

#footer {
	width: 1024px;
	margin: auto;
}

#footer_left {
	float:left;
}

#footer_right {
	float: right;
}

#footer_right img{
	width: 30px;
	height: 30px;
}

/* fix Django presets? */
h1, h2, h3 {
	-webkit-margin-before: 0em;
	-webkit-margin-after: 5px;
	font-family: 'Droid Serif', serif;
}

h1 {
	font-size: 28px;
}

h2 {
	font-size: 24px;
	padding-bottom: 10px;
}

h3 {
	font-size: 20px;
	padding-bottom: 10px;
}

h4 {
	font-size: 18px;
	padding-bottom: 10px;
}

p, li {
	-webkit-margin-before: 0em;
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	line-height: 160%;
}


