<!DOCTYPE html>
<html lang="en">
	<head>
	{% load staticfiles %}
		<link rel="stylesheet" type="text/css" href="{% static 'projects/style.css' %}" />
		<link href="http://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet" type="text/css" />
		<link href="http://fonts.googleapis.com/css?family=Carrois+Gothic+SC" rel="stylesheet" type="text/css" />
	</head>
	<div id="wrapper">
	<header>
		<div id="header">
		<h1>Development Portfolio</h1>
		<p><strong>by John Wnek</strong></p>
		<a href="/">home</a>  |    
		<a href="{% url 'projects' %}">portfolio</a>  |   
		<a href="{% url 'posts' %}">dev log</a>
		</div>
	</header>
	<body>
	<div id="content_wrapper">
		<div id="content">
		{% block content %}{% endblock %}
		</div>
		<div id="sidebar">
			<div id="top_sidebar">
			{% block top_sidebar %}{% endblock %}
			</div>
			<div id="bottom_sidebar">
			{% block bottom_sidebar %}{% endblock %}
			</div>
		</div>
	</div>		
	</body>
	<footer>
	<div id="footer">
		<a href="/">home</a><br />   
		<a href="{% url 'projects' %}">portfolio</a><br />
		<a href="{% url 'posts' %}">dev log</a>
	</p>
	</footer>
	</div>
</html>